.shepherd-footer {
  align-items: center;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  display: flex;
  justify-content: space-between;
  padding: 0 0.75rem 0.75rem;
  .shepherd-button:last-child {
    margin-right: 0;
  }
  /* .shepherd-progress { */
  /* font-size: 0.8rem;
    padding: 0.5rem 1.5rem; */
  /* } */
}

.custom-class-name-intro {
  max-width: fit-content !important;
}
